<%# Admin::Dashboard#show %>
<h1>Welcome, admin!</h1>
<h2>You have <%= @product_count %> products in your database, in <%= @category_count %> categories.</h2>
<br>
<a href='/admin/products' class="btn btn-info">View products</a>
<a href='/admin/categories' class="btn btn-info">View categories</a>
<a href='/admin/sales' class="btn btn-info">View sales</a>


