<%# Admin::Dashboard#show %>
<h1>Welcome, admin!</h1>
<h2>You have <%= @product_count %> products in your database, in <%= @category_count %> categories.</h2>
<a href='/admin/products' class="btn btn-info">View products</a>


